# Descriptive Analysis - Data Collection

<p>This document is a report showing a descriptive analysis of the content of the data collection. From May 18 To June 28th 2016 we targeted users that send direct messages (DM) to a list of targeted journalist or MPs. The DM usually takes the form of mentions. Meaning that a user mention another user in his tweet.</p>

<p>Descriptive analysis in the context of this report means that it's not an indepth analysis so it's a brief analysis therefore our conclusion and results might not be accurate. Also the analysis is on 85% of the total of documents contains in the data collection. All the tweets retrieved have been insert into a NoSQL database. Its a document oriented database which makes it easy to insert document (tweets) because each document might not have the same length or fields.  </p>

<ul>
<li><strong>Supervisor</strong>: Dr. Elizabeth Dubois</li>
<li><strong>Author</strong>: Guinsly Mondésir</li>
<li><strong>Date</strong>: 2016-08-25</li>
<li><strong>Project & credit</strong>: University of Ottawa - Communication departement - Desmarais</li>
</ul>

### Example of a Tweet send by [The Megaphone](https://twitter.com/RebelMegaphone) and mentioning the journalist [Brian Lilley](https://twitter.com/brianlilley)

<a href="https://twitter.com/RebelMegaphone/status/733396292324364289/photo/1" target="_blank"><img src="img/brian_lilley.png"></a>

### Requirements

<p>You will need to be install on your computer:</p>

<ul>
<li><strong>MongoDB</strong>: I use the old version (2.6) and I have tried my script only in the 2.6 version because my computer didn't support the 3.x version.</li>
<li><strong>Linux/Mac</strong>: The file path that I use are suited for a Mac like computer. Windows will requires to change the file path</li>
<li><strong>Continuum Anaconda 3.5 </strong>: if you have <strong>pip</strong> install on your computer you don't need Continuum Anaconda (Ca).</li>
<li><strong>Dependencies</strong>: On your CA's terminal you need to type: pip install pymongo. To install the driver need for python to communicate with MongoDB</li>
</ul>


<p>script and files needed</p>
<pre>
.
├── insert_into_db.py
├── live_tweets/
		├── user_pictures.json
		...(all the .json file)
</pre>

<ul>
<li><strong>insert_into_db.py</strong>: The script to run to insert all the data collection (tweets file) into the db.</li>
<li><strong>user_pictures.json</strong>: This file is inside the folder called live_tweets and contains if a user have changed his profile picture</li>
</ul>

### Importing the necessary modules

In [14]:
import datetime
from collections import Counter

import pymongo
import pandas as pd
from pymongo import MongoClient


import pprint
pprint.PrettyPrinter(indent=4)


from utils import(
    one_tweet
    )

ImportError: cannot import name 'nb_documents'

In [96]:
client = MongoClient('localhost', 27017)
db = client['test-database']

<p>The database' name is called <strong>Test-Database</strong> and it contains 3 collections (or table in MySQL). </p>
<ul>
<li><strong>tusers</strong>: Contains the list of targeted users (jouralists and MPs)</li>
<li><strong>tweets</strong>: Contains 220571 documents or tweets </li>
<li><strong>pictures</strong>: Contains of each user' picture info </li>
</ul>

<p>Example of a **pictures** document</p>
<pre>
{
        "created_at": "2016-06-28 19:37:08",
        "mysql_id_number": 101583,
        "normal_image_profile_hash": "000018ff7e3c0000",
        "original_image_profile_hash": "000018ff7e3c0000",
        "profile_image_url ": "http://pbs.twimg.com/profile_images/747917903127674880/TSwNoA0d_normal.jpg",
        "twitter_user_id": "3983745855"
},
{
        "created_at": "2016-06-28 19:35:24",
        "mysql_id_number": 101578,
        "normal_image_profile_hash": "7e3f1f1f1f070303",
        "original_image_profile_hash": "3f1f1f1e1e0f0707",
        "profile_image_url ": "http://pbs.twimg.com/profile_images/2299517496/u3347xpqjspo608366zh_normal.jpeg",
        "twitter_user_id": "144484779"
},
</pre>

In [100]:
db.command({'dbstats': 1})

{'avgObjSize': 5374.673806603444,
 'collections': 5,
 'dataFileVersion': {'major': 4, 'minor': 5},
 'dataSize': 1616932992.0,
 'db': 'test-database',
 'extentFreeList': {'num': 0, 'totalSize': 0},
 'fileSize': 2080374784.0,
 'indexSize': 9794848,
 'indexes': 3,
 'nsSizeMB': 16,
 'numExtents': 33,
 'objects': 300843,
 'ok': 1.0,
 'storageSize': 1639960576.0}

In [99]:
db.command({'collstats': 'tweets'})

{'avgObjSize': 7147,
 'count': 220571,
 'indexSizes': {'_id_': 7170352},
 'lastExtentSize': 415174656,
 'nindexes': 1,
 'ns': 'test-database.tweets',
 'numExtents': 18,
 'ok': 1.0,
 'paddingFactor': 1.0,
 'size': 1576557632.0,
 'storageSize': 1580118016.0,
 'systemFlags': 1,
 'totalIndexSize': 7170352,
 'userFlags': 1}

### Example of a Tweet saved in the database

In [8]:
one_tweet
#pprint(one_tweet, depth=2, width=50)

{'_id': ObjectId('57bdf27d6dfd2d104aaea876'),
 'contributors': None,
 'coordinates': None,
 'created_at': 'Wed May 18 21:21:49 +0000 2016',
 'entities': {'hashtags': [],
  'media': [{'display_url': 'pic.twitter.com/HEMXywSk8k',
    'expanded_url': 'http://twitter.com/MichelleRempel/status/732974043608059906/photo/1',
    'id': 732974038037848064,
    'id_str': '732974038037848064',
    'indices': [92, 115],
    'media_url': 'http://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
    'sizes': {'large': {'h': 336, 'resize': 'fit', 'w': 600},
     'medium': {'h': 336, 'resize': 'fit', 'w': 600},
     'small': {'h': 190, 'resize': 'fit', 'w': 340},
     'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
    'source_status_id': 732974043608059906,
    'source_status_id_str': '732974043608059906',
    'source_user_id': 14538949,
    'source_user_id_str': '14538949',
    'type': 'photo',
    'url': 'https://t.co/HEMXywSk8k'}],
  'symbols': [],
  'urls': [{'display_url': 'news.nationalpost.com/news/canada/ca…',
    'expanded_url': 'http://news.nationalpost.com/news/canada/canadian-politics/kady-omalley-are-the-liberals-prepping-a-procedural-hammer-to-smack-down-opposition-dissent',
    'indices': [31, 54],
    'url': 'https://t.co/zN1JB7Rk0z'}],
  'user_mentions': [{'id': 14538949,
    'id_str': '14538949',
    'indices': [3, 18],
    'name': 'Michelle Rempel, MP',
    'screen_name': 'MichelleRempel'}]},
 'extended_entities': {'media': [{'display_url': 'pic.twitter.com/HEMXywSk8k',
    'expanded_url': 'http://twitter.com/MichelleRempel/status/732974043608059906/photo/1',
    'id': 732974038037848064,
    'id_str': '732974038037848064',
    'indices': [92, 115],
    'media_url': 'http://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
    'sizes': {'large': {'h': 336, 'resize': 'fit', 'w': 600},
     'medium': {'h': 336, 'resize': 'fit', 'w': 600},
     'small': {'h': 190, 'resize': 'fit', 'w': 340},
     'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
    'source_status_id': 732974043608059906,
    'source_status_id_str': '732974043608059906',
    'source_user_id': 14538949,
    'source_user_id_str': '14538949',
    'type': 'photo',
    'url': 'https://t.co/HEMXywSk8k'}]},
 'favorite_count': 0,
 'favorited': False,
 'filter_level': 'low',
 'geo': None,
 'id': 733044947994038272,
 'id_str': '733044947994038272',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': False,
 'lang': 'en',
 'place': None,
 'possibly_sensitive': False,
 'retweet_count': 0,
 'retweeted': False,
 'retweeted_status': {'contributors': None,
  'coordinates': None,
  'created_at': 'Wed May 18 16:40:04 +0000 2016',
  'entities': {'hashtags': [],
   'media': [{'display_url': 'pic.twitter.com/HEMXywSk8k',
     'expanded_url': 'http://twitter.com/MichelleRempel/status/732974043608059906/photo/1',
     'id': 732974038037848064,
     'id_str': '732974038037848064',
     'indices': [72, 95],
     'media_url': 'http://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
     'sizes': {'large': {'h': 336, 'resize': 'fit', 'w': 600},
      'medium': {'h': 336, 'resize': 'fit', 'w': 600},
      'small': {'h': 190, 'resize': 'fit', 'w': 340},
      'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
     'type': 'photo',
     'url': 'https://t.co/HEMXywSk8k'}],
   'symbols': [],
   'urls': [{'display_url': 'news.nationalpost.com/news/canada/ca…',
     'expanded_url': 'http://news.nationalpost.com/news/canada/canadian-politics/kady-omalley-are-the-liberals-prepping-a-procedural-hammer-to-smack-down-opposition-dissent',
     'indices': [11, 34],
     'url': 'https://t.co/zN1JB7Rk0z'}],
   'user_mentions': []},
  'extended_entities': {'media': [{'display_url': 'pic.twitter.com/HEMXywSk8k',
     'expanded_url': 'http://twitter.com/MichelleRempel/status/732974043608059906/photo/1',
     'id': 732974038037848064,
     'id_str': '732974038037848064',
     'indices': [72, 95],
     'media_url': 'http://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/CiwMAQ7UYAAnJ24.jpg',
     'sizes': {'large': {'h': 336, 'resize': 'fit', 'w': 600},
      'medium': {'h': 336, 'resize': 'fit', 'w': 600},
      'small': {'h': 190, 'resize': 'fit', 'w': 340},
      'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
     'type': 'photo',
     'url': 'https://t.co/HEMXywSk8k'}]},
  'favorite_count': 28,
  'favorited': False,
  'filter_level': 'low',
  'geo': None,
  'id': 732974043608059906,
  'id_str': '732974043608059906',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 38,
  'retweeted': False,
  'source': '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>',
  'text': 'With this, https://t.co/zN1JB7Rk0z Trudeau and his house leader be like https://t.co/HEMXywSk8k',
  'truncated': False,
  'user': {'contributors_enabled': False,
   'created_at': 'Sat Apr 26 03:10:53 +0000 2008',
   'default_profile': True,
   'default_profile_image': False,
   'description': 'Member of Parliament for Calgary Nose Hill. Fortis Et Liber. YGL.',
   'favourites_count': 1694,
   'follow_request_sent': None,
   'followers_count': 22240,
   'following': None,
   'friends_count': 1784,
   'geo_enabled': True,
   'id': 14538949,
   'id_str': '14538949',
   'is_translator': False,
   'lang': 'en',
   'listed_count': 550,
   'location': 'Calgary  ',
   'name': 'Michelle Rempel, MP',
   'notifications': None,
   'profile_background_color': 'C0DEED',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/14538949/1435166716',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/548903873033682944/eSWPLb3s_normal.jpeg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/548903873033682944/eSWPLb3s_normal.jpeg',
   'profile_link_color': '0084B4',
   'profile_sidebar_border_color': 'C0DEED',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'protected': False,
   'screen_name': 'MichelleRempel',
   'statuses_count': 18247,
   'time_zone': 'Mountain Time (US & Canada)',
   'url': 'http://www.michellerempel.ca',
   'utc_offset': -21600,
   'verified': True}},
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'text': 'RT @MichelleRempel: With this, https://t.co/zN1JB7Rk0z Trudeau and his house leader be like https://t.co/HEMXywSk8k',
 'timestamp_ms': '1463606509575',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Thu Mar 15 01:13:09 +0000 2012',
  'default_profile': False,
  'default_profile_image': False,
  'description': 'Conservative, Gamer, and Snow-Gringo. A Neutral Party in the Console Wars, Fierce Partisan in Politics. Views Are My Own.',
  'favourites_count': 283,
  'follow_request_sent': None,
  'followers_count': 2965,
  'following': None,
  'friends_count': 2173,
  'geo_enabled': False,
  'id': 524901955,
  'id_str': '524901955',
  'is_translator': False,
  'lang': 'en',
  'listed_count': 155,
  'location': 'Ottawa, Ontario',
  'name': 'Ryu Hayabusa',
  'notifications': None,
  'profile_background_color': '3B94D9',
  'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/552263848338522112/MDxuqrSt.jpeg',
  'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/552263848338522112/MDxuqrSt.jpeg',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/524901955/1420503106',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/719393149777534980/uAJgWyAi_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/719393149777534980/uAJgWyAi_normal.jpg',
  'profile_link_color': 'DD2E44',
  'profile_sidebar_border_color': '181A1E',
  'profile_sidebar_fill_color': '252429',
  'profile_text_color': '666666',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'CFLancop',
  'statuses_count': 195336,
  'time_zone': 'Eastern Time (US & Canada)',
  'url': None,
  'utc_offset': -14400,
  'verified': False}}

### Number of documents in the database

In [24]:

nb_documents

220571

So no document is a retweet if we look only at the field or key 'retweeted' in each document

### This represent the language that was set (probably by Twitter) to send the tweet

In [87]:
tweet_languages = [post.get('lang') for post in db.tweets.find()]
tweet_languages = Counter(tweet_languages)
#create DF
twitter_tweets_languages = pd.DataFrame.from_dict(tweet_languages, orient='index').reset_index()
twitter_tweets_languages = twitter_tweets_languages.rename(columns={'index':'tweet_language', 0:'count'}).sort_values('count',ascending=False )
twitter_tweets_languages.head(10)

   tweet_language   count
4              en  205731
3             und    7044
10             fr    4158
29             es     533
24             in     505
23             tl     470
28             pt     418
14             ht     242
0              ja     203
19             de     129

### This represent the language set by the user in his Profile

In [88]:
user_languages = [post.get('user').get('lang')  for post in db.tweets.find()]
user_languages = Counter(user_languages)
#create DF
twitter_user_languages = pd.DataFrame.from_dict(user_languages, orient='index').reset_index()
twitter_user_languages = twitter_user_languages.rename(columns={'index':'user_language', 0:'count'}).sort_values('count',ascending=False )
twitter_user_languages.head(10)

   user_language   count
9             en  205990
5             fr    5495
17         en-gb    4067
7          en-GB    2715
31            es     488
14            pt     391
0             ja     261
32            de     160
13            id     146
38            ru     121

### Top 10 users that tweets the most

In [52]:
screen_names = [post.get('user').get('screen_name') for post in db.tweets.find()]
screen_names = Counter(screen_names)
#create DF
df = pd.DataFrame.from_dict(screen_names, orient='index').reset_index()
df = df.rename(columns={'index':'screen_name', 0:'count'}).sort_values('count',ascending=False )
df.head(10)

           screen_name  count
14402          ruthmkb    765
21392   sultanofsnooze    610
7200   barryfranklin21    607
31795     littleshasta    588
45043        davidakin    573
18142          Tintie4    490
27088          EdTanas    476
4260         MattLabor    463
6623   GlennMcmillan14    462
37980     JoanneCangal    426

### What timezone were set in the user's Profile (top 10)

In [61]:
time_zones = [post.get('user').get('time_zone') for post in db.tweets.find()]
time_zones = Counter(time_zones)
#create DF
df = pd.DataFrame.from_dict(time_zones, orient='index').reset_index()
df = df.rename(columns={'index':'time_zone', 0:'count'}).sort_values('count',ascending=False )
df.head(10)

                       time_zone  count
179                         None  77366
125   Eastern Time (US & Canada)  46231
2     Pacific Time (US & Canada)  26945
118   Central Time (US & Canada)  12478
18   Mountain Time (US & Canada)  10968
47                        London   8241
132       Atlantic Time (Canada)   7952
17                         Quito   7525
29                     Amsterdam   4049
143                   Casablanca   2738

### What location were set in the user's Profile (top 10)

In [60]:
locations = [post.get('user').get('location') for post in db.tweets.find()]
locations = Counter(locations)
#create DF
df = pd.DataFrame.from_dict(locations, orient='index').reset_index()
df = df.rename(columns={'index':'locations', 0:'count'}).sort_values('count',ascending=False )
df.head(10)

                     locations  count
11669                     None  65779
6783                    Canada   8132
301                    Toronto   6610
14734                   Ottawa   5157
11268          Ottawa, Ontario   3914
13540          Ontario, Canada   2832
8081            Ottawa, Canada   2336
8757          Toronto, Ontario   2165
10111  Ottawa, Ontario, Canada   1677
9333           Alberta, Canada   1494

With that kind of non-consitant field name it's a bit difficult to create a [choropleth map](http://www.phac-aspc.gc.ca/publicat/hpcdp-pspmc/30-1/images/fig1b_ar_01-eng.gif)

### Does the user have verified its account ?

In [93]:
verifications = [post.get('user').get('verified') for post in db.tweets.find()]
verifications = Counter(verifications)
#create DF
df_verifications = pd.DataFrame.from_dict(verifications, orient='index').reset_index()
df_verifications = df_verifications.rename(columns={'index':'notifications', 0:'count'}).sort_values('count',ascending=False )
df_verifications.head(10)

  notifications   count
0         False  209741
1          True   10830

<h3>Does the user have changed its user default image</h3>

In [59]:
default_profile_images = [post.get('user').get('default_profile_image') for post in db.tweets.find()]
default_profile_images = Counter(default_profile_images)
#create DF
df = pd.DataFrame.from_dict(default_profile_images, orient='index').reset_index()
df = df.rename(columns={'index':'default_profile_image', 0:'count'}).sort_values('count',ascending=False )
df.head(10)

  default_profile_image   count
0                 False  213036
1                  True    7535

I don't think the last 2 stats are accurate. 
**Does the user have changed its user default image** && 
**Does the user have verified its account** . Or maybe that Twitter doesn't update the value of this field ???

<h3>Top 10 date that have the most tweets</h3>

In [65]:
def simplify_the_date(this_date):
    this_date = this_date.split()
    this_date = this_date[0] + ' ' + this_date[1] + ' ' + this_date[2] + ' ' +this_date[-1] 
    return this_date

created_at = [post.get('created_at') for post in db.tweets.find()]
created_at = [simplify_the_date(this_date) for this_date in created_at]
created_at = Counter(created_at)
#create DF
df = pd.DataFrame.from_dict(created_at, orient='index').reset_index()
df = df.rename(columns={'index':'created_at', 0:'count'}).sort_values('count',ascending=False )
df.head(10)

   default_profile_image  count
39       Thu May 19 2016  16017
31       Thu Jun 02 2016   8869
18       Fri May 27 2016   8509
14       Thu Jun 16 2016   8313
27       Tue Jun 21 2016   8302
10       Mon Jun 20 2016   7586
4        Wed Jun 01 2016   6802
26       Fri Jun 17 2016   6712
38       Sat May 28 2016   6687
9        Wed Jun 15 2016   6542

### Retweets

In [75]:
result = db.tweets.find({"retweeted": True}).count()
result

0

So no document is a **retweet** if we look only at the field or key **retweeted** in each document. But if we look at the field or key named **text** if the content of the text starts with a **RT** than it's a retweet.

<pre>"text": "RT @RebelMegaphone: #elbowgate exposes Justin Trudeau'd authoritarian streak @brianlilley https://t.co/Mjg3IQhQzQ #cdnpoli #tcot https://t.…"</pre>

In [69]:
def is_this_a_retweet(retweet):
    if retweet.startswith('RT'):
        return True
    else:
        return False

tweets = [post.get('text') for post in db.tweets.find()]
tweets = [is_this_a_retweet(tweets) for tweets in tweets]
tweets = Counter(tweets)
#create DF
df = pd.DataFrame.from_dict(tweets, orient='index').reset_index()
df = df.rename(columns={'index':'retweets', 0:'count'}).sort_values('count',ascending=False )
df.head(10)

  retweets   count
0    False  132404
1     True   88167

In [95]:
"{0:2f}% of the documents are retweets".format(88167/132404*100)

'66.589378% of the documents are retweets'

So I believe that Twitter doesn't necessarily update all the fields. Meaning that maybe the most important fields are 'Mentions', 'text', 'urls'... and some other fields are not updated automatically ???

### Send by

In [116]:
import re

def parse_html_tag(html_to_parse):
    content = ''
    match = re.search(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', html_to_parse)
    if match:
        content = match.group(0)
    other_match = ['http://twitter.com', 'http://twitter.com/', 'http://www.twitter.com']
    if 'ipad' in content:
        return content
    elif content in other_match:
        return other_match[0]
    return content
 

sources = [parse_html_tag(post.get('source').strip()) for post in db.tweets.find()]
sources = Counter(sources)
#create DF
sources_result = pd.DataFrame.from_dict(sources, orient='index').reset_index()
sources_result = sources_result.rename(columns={'index':'source', 0:'count'}).sort_values('count',ascending=False )
sources_result.head(10)

                                                source  count
368                                 http://twitter.com  83906
18                  http://twitter.com/download/iphone  73660
290                http://twitter.com/download/android  37083
342       https://about.twitter.com/products/tweetdeck   8697
432                         https://mobile.twitter.com   3903
349                        http://tapbots.com/tweetbot   2081
515                           http://www.hootsuite.com   1518
166                                   http://ifttt.com    775
452           http://tapbots.com/software/tweetbot/mac    673
501  http://itunes.apple.com/us/app/twitter/id40978...    542

### How many times a user have changed his pictures

In [122]:
#"twitter_user_id": "3983745855"
twitter_user_ids = [pic.get('twitter_user_id') for pic in db.pictures.find()]
twitter_user_ids = Counter(twitter_user_ids)
#create DF
twitter_user_ids = pd.DataFrame.from_dict(twitter_user_ids, orient='index').reset_index()
twitter_user_ids_result = twitter_user_ids.rename(columns={'index':'twitter_user_id', 0:'count'}).sort_values('count',ascending=False )
twitter_user_ids_result.head(10)

      twitter_user_id  count
19774       716501756     39
71127      1523352391     19
30465       264265349     10
72526      3798675252     10
56891      1651423068      9
19250      2537533467      9
3001       3330492273      8
18846      2744249183      8
75670      1554838501      8
23057      2645258028      8

In [134]:
!grep -n '716501756' ../user_pictures.json | wc -l

39

So this user with a twitter id of **716501756** have change his picture **39 times**. I didn't look into the folder **pictures** or look at each json file that has its tweeter id to verify the picture field have change. I used **wget** to download the pictures so the picture has was maybe for (picture.jpg, picture1.jpg ... n, picture39.jpg) for the same user.

## Kady case

<a href="https://twitter.com/kady/status/733373184502865920" target="_blank"><img src="img/kady.png"></a>

Obviously the tweet belows if from or mention the real Kady

### ???? the 3 pictures below is now from the real kady

<a href="https://twitter.com/bxthany_m/status/745720102159527936" target="_blank"><img src="img/kady_other.png"></a>
<a href="https://twitter.com/AdrianeWelford/status/741381221150822401" target="_blank"><img src="img/kady2.png"></a>
<a href="https://twitter.com/AdrianeWelford/status/741381221150822401" target="_blank"><img src="img/kady2-r.png"></a>

In [131]:
!ls -al ../live_tweets/f8b77354-6437-43fe-8679-ee6adf4bde91.json

-rw-r--r-- 1 guinsly guinsly 6545 juin  11 09:10 ../live_tweets/f8b77354-6437-43fe-8679-ee6adf4bde91.json

so this file was created obviously within the data collection date (May 18th - June 28th).

In [1]:
!ls ../live_tweets | grep -i 'kady'

kady.json

So there is only one targeted user 'kady' in our data collection. I can't seems to find what went wrong this is obviously a bug.